<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= pokemon.name %> - Detalhes</title>
    <style>
      body {
        font-family: 'Arial', sans-serif;
        background-color: #f0f8ff; 
        color: #333;
        margin: 0;
        padding: 0;
        text-align: center;
      }

      h1 {
        font-size: 2.5em;
        color: #ffcb05; 
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        margin-top: 20px;
      }

      p {
        font-size: 1.2em;
        color: #2a75bb; 
      }

      ul {
        list-style: none;
        padding: 0;
        font-size: 1.1em;
      }

      li {
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        margin: 10px auto;
        padding: 10px;
        max-width: 400px;
        color: #333;
        text-align: left;
      }

      li:hover {
        transform: scale(1.05);
        transition: transform 0.2s;
      }

      @media (max-width: 600px) {
        li {
          max-width: 90%;
          font-size: 1em;
        }

        h1 {
          font-size: 2em;
        }

        p {
          font-size: 1em;
        }
      }
    </style>
  </head>
  <body>
    <h1><%= pokemon.name %> - Detalhes</h1>
    <p>ID: <%= pokemon.id %></p>

    <p>Habilidades:</p>
    <ul>
      <% pokemon.abilities.forEach(ability => { %>
      <li><%= ability.ability.name %></li>
      <% }) %>
    </ul>

    <p>Moves:</p>
    <ul>
      <% pokemon.moves.forEach(move => { %>
      <li><%= move.move.name %></li>
      <% }) %>
    </ul>

    <p>Status:</p>
    <ul>
      <% pokemon.stats.forEach(stat => { %>
      <li><%= stat.stat.name %>: <%= stat.base_stat %></li>
      <% }) %>
    </ul>
  </body>
</html>
